footer {
   @extend %navupdown;

    li {
        display: inline-flex;
        padding: 19px;
        color: #fff;
        font-size: 100%;
        position: relative;
        border-width: thin; }
        align-content: center;

        a{
            border-width: 0ex;
            color: black;
            text-decoration: underline;
            font-family: 'Roboto', sans-serif;
        }
}
@include mediaQueryMobile {
    .footer{

        &__li{
            display: inline-flex;
            padding: 19px;
            color: #fff;
            font-size: 80%;
            position: relative;
            border-width: thin; 
            align-content: center;
        }

    }

}